* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(/kepek/hatter.jpg);
    background-repeat: repeat;
}

.container {
    background-color: white;
    width: 80%;
    margin: 0 auto;

}

/* --------------header ---------------- */
.header {
    background-image: url(/kepek/fejlec.jpg);
    width: 100%;
    height: 150px;
}

.header h2 {
    color: white;
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
    text-shadow: 2px 2px #0f0f0f;
}

.header img {
    width: 100%;
    height: 150px;
    display: inline-block;
}



/* ----------------main-------------------- */

.main {
    display: grid;
    grid-template-columns: 20% 45% 35%;
}

/*--------------menu------------------------ */
ul {
    list-style-type: none;
    
    
}

.main-left a {
    display: block;
    margin: 10px 30px;
    color: white;
    background-color: rgb(26, 141, 207);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    height: 30px;
    text-shadow: 2px 2px #3b0be9;

}

/* ---------------------szöveg---------------------- */
.main-right {
    border: 1px solid #aaaaaa;
}

.main-right p {
    padding: 10px 30px 10px 30px;
    text-align: justify;
}

.main-right h2 {
    padding: 10px 30px 10px 30px;
    font-size: 30px;
}



/* ---------------KÉPEK -------------------- */

.galery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
    margin: 25px;
}

img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    background-color: white;
    padding: 10px 10px 40px 10px;
}

.group1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.group2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.polaroid-left {
    box-shadow: 10px 10px 5px #aaaaaa;
    border: 1px solid grey;
    transform: rotate(-8deg);
   
}

.polaroid-right {
    box-shadow: 10px 10px 5px #aaaaaa;
    border: 1px solid grey;
    transform: rotate(8deg);

}


/* ---------------footer----------------- */

.footer {
    background-color: rgb(83, 162, 214);
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    .main {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px){
    .galery .group1, .galery .group2{
        grid-template-columns: 1fr;
    }
    
}